* {
  padding: 0;
  margin: 0;
}

#textfield_about {
  height: auto;
  /* border-top:0.2vh groove #484a41 */
}

/* @media only screen and (max-width: 8in) {
  #textfield_about {
    height: 580vh;
  }
} */

#employer {
  margin-top: -2vh;
  font-size: 105%;
  /* margin-left: 32%; */
  margin-bottom: -4vh;
  /* padding-bottom: -2vh; */
}



/* .headshot {
  display: grid;
  grid-template-columns: 7vw 13vw 1fr 35%;
  
}

#head_text {
  margin: 0;
  margin-left: 1vw;
}

#head_img {
  width: 10vw;
  margin: 0;
  padding: 0;
} */

.awards {
  /* margin-top: 1vh; */
  display: grid;
  grid-template-columns:11vw 15vw;
  
}

.awards p {
  margin: 0;
  padding: 0;
}

.job_header {
  display: grid;
  grid-template-rows: 4vh 2vh 2vh;
  /* height: 8vh; */
  /* border: transparent; */
}

.job_header h5 {
  /* padding-bottom: 0; */
  margin-bottom: 0;
  text-indent: 0.8vw;
  /* padding-bottom: 0.5vh; */
}

.job_header p {
  margin: 0;
  padding: 0;
  /* padding-top: 1vh; */
  text-indent: 0.8vw;
}
/* img {
  width: 10%;
  margin-left: 30%;
} */