* {
  padding: 0;
  margin: 0;
}

#textfield_about {
  height: 480vh;
  border-top:0.2vh solid #484a41
}

#employer {
  margin-top: -2vh;
  font-size: 105%;
  /* margin-left: 32%; */
  margin-bottom: -4vh;
  /* padding-bottom: -2vh; */
}



/* .headshot {
  display: grid;
  grid-template-columns: 7vw 13vw 1fr 35%;
  
}

#head_text {
  margin: 0;
  margin-left: 1vw;
}

#head_img {
  width: 10vw;
  margin: 0;
  padding: 0;
} */

.awards {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 30% 11vw 15vw 1fr;
}

.awards p {
  margin: 0;
  padding: 0;
}
/* img {
  width: 10%;
  margin-left: 30%;
} */