* {
    padding: 0;
    margin: 0;
  }

/*
 *************
 * Social Handles 
 *************
*/
#icons {
    display: inline-table;
    position: sticky;
    background: rgb(44, 54, 71, 0.7);
    
    width: 14vw;
    top: 1vh;
    text-align: left;
    margin-left: 5vw;
    margin-top: 7vh;
    float: left;
    /* border: 0.3vh groove #453d0c; */
    border: 0.3vh groove #999898; /* White */
    /* border: 0.3vh inset #11111f;  Black */
    border-radius: 1vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
}

@media only screen and (max-width: 15in) {
    #icons {
    width: 19vw;
    }
}


#icons .row {
    display: flex;
    margin-bottom: 1vh;
    width: auto;
    height: 3vh;
    align-items: center; 
    padding-left: 0.5vw;
    margin-right: 0.5vw;
    /* background: rgb(22, 33, 51); */
    background: #252a34;
    border-radius: 1vh;
    /* border: 0.3vh groove #453d0c;  /* Red */
   border: 0.3vh groove #999898;   
    /* border: 0.3vh groove #1c5c22; /* Green */
    /* border: 0.3vh groove #4a4a4b; */
    /* border: 0.3vh inset #11111f */
}


#icons h4 {
    display: flex;
    font-weight: 300;
    font-size: medium;
}

  #icons p {
    font-size: medium;
    background: transparent;
    justify-content: center;
    align-items: center; 
    padding: 0.5vw;
}

  #icons a {
    display: flex;
    text-align: left;
    background: transparent;
    height: auto;
    width: auto;
    transition: all 0.3s ease;
    align-items: center; 
}

#icons a:hover {
    transform: scale(0.8);
    position: relative;
    margin-left: 1vw;
    -webkit-transition: margin-left transform 5000ms linear;
    -moz-transition: margin-left transform 5000ms linear;
    -o-transition: margin-left transform 5000ms linear;
    -ms-transition: margin-left transform 5000ms linear;
    transition: margin-left transform 5000ms linear;
    filter: brightness(2.43);
    transition-delay:0.15s;
}

#icons .logostyle_b{
    height: 15%;
    width: 15%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    float: left;
    background: transparent;
}

#icons .logostyle_a{
    width: 20%;
    height: 20%;
    padding-top: 2.5%;
    float: left;
    background: transparent;
}

@media only screen and (max-width: 10in) {
    #icons {
        margin-left: 0.5vw;
        width: 29vw;
        left: 0.5vw;
    }
    
}

@media only screen and (max-width: 6in) {
    #icons {
        opacity: 0.8;
        float: right;
        text-align: right;
        width: 35vw;
        margin-top: 6vh;
        margin-right: 1vh;
        display: block;
        
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);

        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
    .row {
        text-align: right;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
    #icons h4 {
        font-size: small;
        white-space: nowrap;
    }
    #icons a {
        display: inline-flex;
    }
    #icons img {
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
    #icons p {
        white-space: nowrap;
        font-size: medium;
        text-align: right;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        margin-top: 2vh;
    }
}