* {
    margin: 0;
    padding: 0;
}





/*
***************************************************
*       BODY
***************************************************
*/


.body {
  display: inline;
}

#textfield_home {
  height: 200vh;
}
