* {
    margin: 0;
    padding: 0;
}

#textfield_ipi {
    height: auto;
    border-top:0.2vh solid #484a41
}

/* @media only screen and (max-width: 8in) {
    #textfield_ipi {
      height: auto;
    }
  } */

#text {
    margin: 0;
    padding: 0;
}