* {
    margin: 0;
    padding: 0;
    color: #eaeaea;
    background-color: #252a34;
}
/*
***************************************************
*       HEADER
***************************************************
*/
 .header {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #252a34;
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    /* border-bottom: 0.3vh groove #453d0c; */
    width: auto;
}

/*
 *************
 * Title Bar 
 *************
*/
.title {
  text-align: left;
  display: inline-flex;
  /* align-items: ; */
  /* white-space: pre-wrap; */
}

.title h1 {
  margin: 0;
  /* border: 0.1vw solid black;
  width:fit-content; 
  width:-webkit-fit-content; 
  width:-moz-fit-content; */
  padding: 0.2vw;
  /* left: 1vw; */
  margin-left: 5vw;
  white-space: nowrap;
}

#header_title {
  /* opacity: 0.7; */
  margin: 0;
  white-space: nowrap;
}

/*
 *************
 * Page Navigation Bar 
 *************
*/
.navbar {
    /* height: 100%; */
    display: grid;
    text-align: center;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: right;

}

/* .a {background-color: aliceblue}
.b {background-color: bisque} */

/*
***************************************************
*       BODY
***************************************************
*/
.body {
  border-top: 0.3vh groove #453d0c;
}

.h2_sec {
  margin-left: 30vw;
  width: 33.2vw;
  padding-left: 0.8vw;
  border-left: 0.3vh groove #450c0c;
  border-top: 0.3vh groove #450c0c;

  
  border-radius: 0.3vw;
  /* border-left: 0.2vh solid #452481;
  border-top: 0.2vh solid #452481; */

  /* border-left: 0.2vh solid #750303;
  border-top: 0.2vh solid #750303; */
}

.h3_sec {
  /* margin-left: 30.5vw; */
  width: 32.4vw;
  padding-left: 0.8vw;
  /* border-left: 0.2vh solid #484a41;
  border-top: 0.2vh solid #484a41; */
  border-left: 0.3vh groove #1c5c22;
  border-top: 0.3vh groove #1c5c22;
  /* border-left: 0.3vh groove #452481;
  border-top: 0.3vh groove #452481; */
  border-radius: 0.3vw;
  /* border-left: 0.2vh solid #750303;
  border-top: 0.2vh solid #750303; */

  /* border-left: 0.2vh solid #1c5c22;
  border-top: 0.2vh solid #1c5c22; */
}
  
.h5_sec {
  width: 31.6vw;
  border-left: 0.3vh groove #452481;
  border-top: 0.3vh groove #452481;
  /* border-left: 0.3vh groove #1c5c22;
  border-top: 0.3vh groove #1c5c22; */
  padding-left: 0.8vw;
  padding-top: 1vh;
  border-radius: 0.3vw;
}

@media only screen and (max-width: 10in) {
  .header {
    height: 15vh;
  }
  .title {
    display: inline-block;
    /* grid-template-rows: 1fr 1fr; */
    padding: 0;
  }
  .title h1{
    left: 0.5vw;
    margin-left: 0.5vw;
    padding: 0;
    
  }
  .navbar a {
    font-size: x-large;
    padding-left: 1vh;
    padding-right: 1vh;
  }
  .header {
    grid-template-columns: 50% 10% 1fr;
  }
  .h2_sec {
      width: 65vw; 
  }
  .h3_sec {
    width: 63vw; 
  }
  .h5_sec {
    width: 61vw; 
  }
}

@media only screen and (max-width: 6in) {
  .title {
    font-size: x-small;
  }
  .header {
    grid-template-columns: 45% 1fr 1fr;
  }
  .h2_sec {
    margin-left: 5vw;
    width: 85vw;
    /* left: 1vw; */
    /* position: relative; */
    /* z-index: -1; */
  }
  .h3_sec {
    width: 82vw; 
  }
  .h5_sec {
    width: 78vw; 
  }

  .navbar {
    padding-right: 4vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
  }
  .navbar a {
    /* margin-bottom: 4vh; */
  }
/* .h3_sec {
  width: 63vw; 
}
.h5_sec {
  width: 61vw; 
} */
}
/*
***************************************************
*       FOOTER
***************************************************
*/
  footer {
    display: flex;
    height: 6vh;
    background-color: #252a34;
    align-items: center;
    border-top: 0.3vh groove #453d0c;
}

footer p {
    margin-left: 10%
}