* {
    padding: 0;
    margin: 0;
  }

/*
 *************
 * Text Field
 *************
*/
.textfield {
    /* display: inline-block; */
    background-color: #252a34;
    height: 110vh;
    
    padding-top: 5vh;
  
    align-items: center;
    /* text-align: center; */
  }
  
  .textfield h2 {  
    margin-left: 30vw;
    right: 38vw;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    padding-top: 2vh;
    font-size: x-large;
    border-bottom: 0.3vh groove #450c0c;
    width: 34vw;
  }
  
  .textfield h3 {
    /* padding-top: 5vh; */
    /* margin-left: 30vw; */
    right: 38vw;
    font-weight: bolder;
    /* color: #929292; */
    border-bottom: 0.3vh groove #1c5c22;
    /* border-bottom-style: 10; */
    /* border-width: 10%; */
    width: 33.2vw;
    padding-bottom: 1vh;
    font-size: x-large;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
 

  .textfield h5 {
    /* padding-top: 5vh; */
    /* margin-left: 30vw; */
    right: 38vw;
    /* padding-bottom: 4vh; */
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: large;
    border-bottom: 0.3vh groove #452481;
    width: 32.4vw;
    font-style: italic;
    margin-bottom: 2vh;
    
  }
  
  
  
  .textfield p {
    /* margin-left: 30vw; */

    /* padding-right: 35vw; */
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: normal;
    color: #e2e2e2;
    font-weight: lighter;
  }

  ol {
    /* margin-left: 33vw; */
    /* padding-right: 35vw; */
    padding-top: 2vh;
    padding-left: 2vw;
    font-size: normal;
    width: 27vw;
  }
  
  .list_unsorted {
    /* margin-left: 33vw; */
    /* padding-right: 35vw; */
    /* padding-top: 2vh; */
    padding-bottom: 1vh;
    font-size: normal;
    width: 27vw;
    padding-left: 2vw;
  }
  
  #list_sub {
    /* margin-left: 3vw; */
    /* padding-right: 35vw; */
    /* padding-top: 0.5vh; */
    padding-bottom: 0.5vh;
    font-size: normal;
    width: 30vw;
  }
  .list_unsorted li {
    padding-bottom: 0.5vh;
    padding-top: 1vh;
    font-style: italic;
    /* text-decoration: underline; */
    
  }
  
 
  #list_sub li {
    padding-bottom: 0.5vh;
    padding-top: 0.2vh;
    margin-left: 0.1vw;
    margin-left: 2.8vw;
    /* width: 21vw; */
  }
  
  #list_item {
    width:21vw;
    padding: 0;
    padding-left: 1vw;
    margin-left: 1vw;
  }
  
  .textfield h4 {
    /* margin-left: 2vw; */
    border-bottom: 0.3vh groove #453d0c;
    width: 27vw;
    padding-bottom: 0.4vh;
    padding-top: 1vh;
    margin-bottom: 1vh;
  }

  #list_sub_title {
    width: 12vw;
    margin-left: 0.5vw;
    font-size: normal;
  }
  /*
   *************
   * Images 
   *************
  */

  
  .text_img {
    width: 34vw;
  } 

  @media only screen and (max-width: 10in) {
    .textfield h2 {
      margin-left: 31vw;
      width: 64vw;
      text-indent: 1vw;
    }
    .textfield h3 {
      width: 64vw;
    }
    .textfield h5 {
      width: 62vw;
    }
    .textfield h4 {
      width: 45vw;
    }
    .list_unsorted {
      width: 45vw;
    }
    ol {
      width: 45vw;
    }
    .text_img {
      width: 63vw;
    }
  }

@media only screen and (max-width: 6in) {
    .textfield h2 {
        padding: 0;
        /* margin: 0; */
        margin-left: 5vw;
        /* left: 1vw; */
        /* float: left; */
        /* right: 100vw; */
        width: 82vw;
        /* z-index: 1; */
        /* position: relative; */
    }
    .textfield h3 {
        width: 82vw; 
    }
    .textfield h5 {
        width: 82vw; 
    }
    .textfield h4 {
        width: 82vw; 
    }
    .list_unsorted {
        width: 65vw;
        margin-left: 2vw;
    }
    ol {
        width: 65vw;
    }
    .text_img {
        width: 80vw;
    }
    #list_sub li {
        width: 65vw;
        /* padding-left: 20vw; */
    }
    #list_item {
        width: 65vw;
        /* margin-left: 2vw; */
    }
}
