* {
    margin: 0;
    padding: 0;
}



.headerArt {
  display: flex;
  align-items: center;
  /* text-align: center; */
  /*text-align: left;*/
  background-image: url('../image_files/foggy_forest.jpg');
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}

.headerArt h1 {
    margin-left: 15%;
    font-size: 400%;
    font-weight: 700;
    margin-top: -15%;
    /* text-indent: 15%; */
}
/* .body {
    align-items: baseline;
} */





.intro {
    background-color: dimgrey;
    height: 180vh;
}

footer {
    height: 10vh;
    background-color: cadetblue;
}